<h1>testendo página Angular</h1>
<h3>{{ title }}</h3>

<p>{{ nome }}</p>
<p>{{ nomes.length }}</p>
<p>{{ primeiroNome }}</p>
<h3>{{nomePrincipal2.name}}</h3>

<input type="text" value="{{primeiroNome}}">

<div [class]="{class1: true, class2:false}">
    Testando 
</div>
<ul>
    <li *ngFor="let nome of nomes">
        {{nome}} 
    </li>
</ul>
<ul>
    <li *ngFor="let idade of idades">
        {{idade}}
    </li>
</ul>
<ul>
    <li *ngFor="let nomeArray of nomesArray">
        {{nomeArray.name}} - {{nomeArray.idade}} - {{nomeArray.getTipo()}}
    </li>
</ul>

<p *ngIf="nomesArray.length > 5">Tem mais que 5 registros na tabela</p>

<p *ngIf="avisoTest" style="color:red;"> {{avisoMsg}} </p>



<mat-slider min="1" max="100" step="1" value="50"></mat-slider>













